<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
	<th:block th:replace="fragments/meta :: metaFragment(title='점주회원', useMetaCsrf='true')"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/cork/assets/css/components/tabs-accordian/custom-accordions.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/cork/assets/css/components/custom-modal.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/cork/assets/css/forms/theme-checkbox-radio.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/cork/plugins/bootstrap-select/bootstrap-select.min.css}">
	
	
	<!--  css style  -->
	<th:block th:replace="fragments/style :: styleFragment"></th:block>
</head>


<body class="sidebar-noneoverflow">
    
	<!--  header  -->
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

		<!--  sidebar  -->
		<th:block th:replace="fragments/sidebar :: sidebarFragment(main='member', sub='member-owner')"></th:block>
		        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">


                <!-- CONTENT AREA -->
                <div class="row layout-top-spacing">
                    
					<div id="tableHover" class="col-lg-12 col-12 layout-spacing">
						<div class="statbox widget box box-shadow">
							<div class="widget-header">
								<div class="row">
									<div class="col-xl-12 col-md-12 col-sm-12 col-12">
										<h4>점주 회원<span class="ml-2 badge outline-badge-primary">상호명</span></h4>
									</div>
								</div>
							</div>
							<div class="widget-content widget-content-area">
								<div id="iconsAccordion" class="accordion-icons">
								    <div class="card">
								        <div class="card-header" id="...">
								            <section class="mb-0 mt-0">
								                <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionOne" aria-expanded="true" aria-controls="iconAccordionOne">
								                    <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
								                    매장 기본 정보  <div class="icons"><svg> ... </svg></div>
								                </div>
								            </section>
								        </div>
								
								        <div id="iconAccordionOne" class="collapse show" aria-labelledby="..." data-parent="#iconsAccordion">
								            <div class="card-body">
								                <form>
								                	<div class="form-row mb-2">
												        <div class="col-3">
												            <input type="text" class="form-control disabled" placeholder="honeyArcade" readonly>
												        </div>
												        <div class="col">
												            <input type="text" class="form-control" placeholder="honeyArcade@naver.com" readonly>
												        </div>
												        <div class="col">
												            <input type="text" class="form-control" placeholder="010-1234-1234" readonly>
												        </div>
												    </div>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>서울</option>
													    <option>인천</option>
													</select>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>송파</option>
													    <option></option>
													</select>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>문정</option>
													    <option></option>
													</select>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>테라타워</option>
													    <option>엠파이어빌딩</option>
													    <option></option>
													</select>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>1층</option>
													    <option>2층</option>
													</select>
													 <div class="form-row">
												        <div class="col-3">
												            <input type="text" class="form-control" placeholder="상호명">
												        </div>
												        <div class="col">
												            <input type="text" class="form-control" placeholder="매장호실">
												        </div>
												        <div class="col">
												            <input type="text" class="form-control" placeholder="자체코드">
												        </div>
												        <div class="col">
												            <input type="text" class="form-control" placeholder="유투브URL">
												        </div>
												    </div>
									               	<div class="mt-2">
										               	<span class="mr-1 col-2">영업시간</span>
														<select class="selectpicker" data-width="fit">
														    <option>요일</option>
														    <option>일요일</option>
														    <option>월요일</option>
														    <option>화요일</option>
														    <option>수요일</option>
														    <option>목요일</option>
														    <option>금요일</option>
														    <option>토요일</option>
														</select>
														<span class="mr-1 col-2">오픈시간</span>
														<input type="text" class="form-control d-inline col-1" style="vertical-align: middle;" placeholder="09:00">
														<span class="mr-1 col-2">마감시간</span>
														<input type="text" class="form-control d-inline col-1 mr-2" style="vertical-align: middle;" placeholder="18:00">
														<button class="btn btn-primary">추가</button>
									               	</div>
									               	<div class="mt-2 row ml-2">
														<button class="btn btn-outline-primary mb-2 mr-1">월~토 09:00 ~ 23:00</button>
														<button class="btn btn-primary mb-2 mr-3">삭제</button>
														<button class="btn btn-outline-primary mb-2 mr-1">월~토 09:00 ~ 23:00</button>
														<button class="btn btn-primary mb-2 mr-3">삭제</button>
														<button class="btn btn-outline-primary mb-2 mr-1">월~토 09:00 ~ 23:00</button>
														<button class="btn btn-primary mb-2 mr-3">삭제</button>
									               	</div>
									               	<div class="mt-2 row ml-2">
														<span class="col-1">휴무일</span>
														<div>
															<div class="n-chk">
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-danger">
															      <input type="checkbox" class="new-control-input" checked>
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">일요일</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">월요일</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">화요일</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">수요일</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">목요일</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">금요일</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-primary">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">토요일</span>
															    </label>
															</div>
															<div class="n-chk d-inline col-6">
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-danger">
															      <input type="checkbox" class="new-control-input" checked>
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">매주</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">첫째주</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">둘째주</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">셋째주</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input" >
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">넷째주</span>
															    </label>
															    <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
															      <input type="checkbox" class="new-control-input">
															      <span class="new-control-indicator"></span>
															      <span class="new-chk-content">마지막주</span>
															    </label>
															</div>
														</div>
									               	</div>
												    <div class="mt-2">
														<span class="mr-4 col-2">메인 사진</span>
														<button class="btn btn-primary mb-2">다운로드</button>
														<button class="btn btn-primary mb-2">업로드</button>
														<button class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">확인</button>
								               		</div>
								               		<div class="mt-2">
														<span class="col-2" style="margin-right: 0.8rem;">매장 프로필</span>
														<button class="btn btn-primary mb-2">다운로드</button>
														<button class="btn btn-primary mb-2">업로드</button>
														<button class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">확인</button>
								               		</div>
								               		<div class="mt-2">
														<span class="col-2">사업자 등록증</span>
														<button class="btn btn-primary mb-2">다운로드</button>
														<button class="btn btn-primary mb-2">업로드</button>
														<button class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">확인</button>
								               		</div>
												</form>
								            </div>   
								        </div>
								  </div>
								
								    <div class="card">
								        <div class="card-header" id="...">
								            <section class="mb-0 mt-0">
								                <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionTwo" aria-expanded="true" aria-controls="iconAccordionTwo">
								                    <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg></div>
								                    업종 정보 <div class="icons"><svg> ... </svg></div>
								                </div>
								            </section>
								        </div>
								        <div id="iconAccordionTwo" class="collapse show" aria-labelledby="..." data-parent="#iconsAccordion">
								            <div class="card-body">
								               <form>
								               	<div>
													<span class="mr-5 col-2">업종</span>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>대분류1</option>
													    <option>음식</option>
													</select>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>대분류2</option>
													    <option></option>
													</select>
													<select class="selectpicker" data-width="fit" data-live-search="true">
													    <option>대분류3</option>
													    <option></option>
													</select>
								               	</div>
								               	<div>
													<span class="mr-3 col-2">세부 업종</span>
													<input type="text" class="form-control d-inline col-2" style="vertical-align: middle;" placeholder="소분류">
								               	</div>
								               	<div class="mt-2">
													<span class="mr-3 col-2">한줄 소개</span>
													<input type="text" class="form-control d-inline col-4" style="vertical-align: middle;" placeholder="맛있는 식당">
								               	</div>
								               	<div class="mt-2">
													<span class="mr-1 col-2">검색 키워드</span>
													<input type="text" class="form-control d-inline col-4" style="vertical-align: middle;" placeholder="숨김 키워드 입력">
								               	</div>
												</form>
								
								            </div>
								        </div>
								    </div>
								    <div class="card">
								        <div class="card-header" id="...">
								            <section class="mb-0 mt-0">
								                <div role="menu" class="" data-toggle="collapse" data-target="#iconAccordionThree" aria-expanded="true" aria-controls="iconAccordionThree">
								                    <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg></div>
								                    메뉴 정보 <div class="icons"><svg> ... </svg></div>
								                </div>
								            </section>
								        </div>
								        <div id="iconAccordionThree" class="collapse show" aria-labelledby="..." data-parent="#iconsAccordion">
								        <div class="card-body">
								           <form>
								           		<div>
													<span class="mr-3 col-2">메뉴추가</span>
													<input type="text" class="form-control form-control-lg d-inline col-4" style="vertical-align: middle;" placeholder="상품명">
													<input type="text" class="form-control form-control-lg d-inline col-2" style="vertical-align: middle;" placeholder="가격">
													<button class="btn btn-primary">사진첨부</button>
													<button class="btn btn-primary">추가</button>
								               	</div>
								               	<div class="mt-4">
													<span class="mr-3 col-2">메뉴</span>
													<input type="text" class="form-control form-control-sm d-inline col-4" style="vertical-align: middle;" placeholder="상품명">
													<input type="text" class="form-control form-control-sm d-inline col-2" style="vertical-align: middle;" placeholder="가격">
													<button class="btn btn-primary">다운로드</button>
													<button class="btn btn-primary">사진첨부</button>
													<button class="btn btn-danger">삭제</button>
								               	</div>
								               	<div class="mt-2">
													<span class="mr-3 col-2">메뉴</span>
													<input type="text" class="form-control form-control-sm d-inline col-4" style="vertical-align: middle;" placeholder="상품명">
													<input type="text" class="form-control form-control-sm d-inline col-2" style="vertical-align: middle;" placeholder="가격">
													<button class="btn btn-primary">다운로드</button>
													<button class="btn btn-primary">사진첨부</button>
													<button class="btn btn-danger">삭제</button>
								               	</div>
								               	<div class="mt-2">
													<span class="mr-3 col-2">메뉴</span>
													<input type="text" class="form-control form-control-sm d-inline col-4" style="vertical-align: middle;" placeholder="상품명">
													<input type="text" class="form-control form-control-sm d-inline col-2" style="vertical-align: middle;" placeholder="가격">
													<button class="btn btn-primary">다운로드</button>
													<button class="btn btn-primary">사진첨부</button>
													<button class="btn btn-danger">삭제</button>
								               	</div>
								               	
								           </form>
								
								        </div>
								        </div>
								    </div>
								</div>
							</div>
						</div>
					</div>
                    

                </div>

				<!-- 이미지 확인용 모달 -->
				<div class="modal-xl fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">메인사진, 매장프로필, 사업자 등롱증 등</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<svg> ... </svg>
								</button>
							</div>
							<div class="modal-body">
								<p></p>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
								<button type="button" class="btn btn-primary">Save</button>
							</div>
						</div>
					 </div>
				</div>
                <!-- CONTENT AREA -->

            </div>
            
            
            <!--  footer   -->
            <th:block th:replace="fragments/footer"></th:block>
			
            
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
	



	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script th:src="@{/resources/cork/assets/js/scrollspyNav.js}"></script>
	<script th:src="@{/resources/cork/assets/js/components/ui-accordions.js}"></script>
	<script th:src="@{/resources/cork/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:inline="javascript">
	/* <![CDATA[ */
		
	/*]] */
	</script>
</body>

</html>