<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
<th:block th:replace="fragments/meta :: metaFragment(title='허니아케이드 관리자 전용 페이지', useMetaCsrf='false')"></th:block>
    
    <!--  css style  -->
	<th:block th:replace="fragments/style :: styleFragment"></th:block>
    
    <link th:href="@{/resources/cork/assets/css/authentication/form-2.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/cork/assets/css/forms/theme-checkbox-radio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/cork/assets/css/forms/switches.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/honeyArcade/admin/login/css/adminLoginForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/honeyArcade/admin/common/css/common.css}">
    
</head>

<body class="form">

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <div>
                        	<img th:src="@{/resources/honeyArcade/img/logo3.png}" style='width:150px;'>
                        </div>
                        <div class="login-title">허니아케이드 관리자 전용 페이지</div>
                        
                        <form class="text-left" th:action="@{/admin/login/form}" method="post">
                            <div class="form">

                                <div id="username-field" class="field-wrapper input">
                                   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="username" name="username" type="text" class="form-control" placeholder="아이디 입력">
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                     
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="비밀번호 입력">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </div>
                            
                            	<div class="error-box">								
	                                 <div th:if="${errorMsg} != null">
	                                 	<div class="error-msg" th:text="${errorMsg}"></div>
	                                 </div>     
                            	</div>
                              
                              	<div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper login-btn-div">
                                        <button type="submit" class="btn btn-brown" id="loginBtn" value="">로그인</button>
                                    </div>
                                </div>

                   
                                 
                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>

    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
 	<th:block th:replace="fragments/script :: scriptFragment(useScriptCsrf='false')"></th:block>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script th:src="@{/resources/cork/assets/js/authentication/form-2.js}"></script>
    <script th:src="@{/resources/honeyArcade/admin/login/js/adminLoginForm.js}"></script>
    

</body>
</html>