form{
	display:flex;
	justify-content: space-between;
	gap : 10px;
}
.view select{
	border: 1px solid #bfc9d4;
    color: #3b3f5c !important;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    background-color: #fff;
    height: auto;
    padding: .3rem .55rem;
    border-radius: 6px;
    box-shadow: none;
}

.view p{
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 5px;
}